# Exclude generated sites
_site/
.sass-cache/

# IDE/Editor specific files
.vscode/
.idea/
*~
*.swp
*.tmp
.DS_Store

# Ignore Jekyll-specific files if you do not want them tracked
.jekyll-cache/
.jekyll-metadata

# Local configuration files (optional)
config_local.py
*.env

# Ignore your Python-specific files if not needed
__pycache__/
*.py[cod]